$colours: (
  "primary": #075192,
  "primary-light": #549eff,
  "primary-dark": #12436f,

  "dark": #222,
  "light": #fafafa,
);

$font-sizes: (
  "xs": 1rem,
  "s": 1.2rem,
  "base": 1.6rem,
  "m": 1.8rem,
  "l": 2rem,
  "xl": 2.4rem,
  "xxl": 2.8rem,
  "xxxl": 3.2rem,
  "xxxxl": 3.6rem,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);
