$colours: (
  "primary": #075192,
  "primary-light": #549eff,
  "primary-dark": #12436f,

  "dark": #222,
  "light": #fafafa,

  "grey-light-1": #b3b3b3,
  "grey-light-2": #d9d9d9,
  "grey-light-3": #e3e3e3,
  "grey-light-4": #f0f0f0,
  "grey-light-5": #fafafa,
  "grey-dark-1": #777,
  "grey-dark-2": #555,
  "grey-dark-3": #444,
  "grey-dark-4": #333,

  "success": #5cb85c,
  "info": #5bc0de,
  "warning": #f0ad4e,
  "danger": #d9534f,
);

$font-sizes: (
  "xs": 1rem,
  "s": 1.2rem,
  "base": 1.6rem,
  "m": 1.8rem,
  "l": 2rem,
  "xl": 2.4rem,
  "xxl": 2.8rem,
  "xxxl": 3.2rem,
  "xxxxl": 3.6rem,
  "heading": 6rem,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
