.section-clubs {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(100vh - 14rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.turkish-container {
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 8rem;
  padding-block: 8rem;
  gap: 2rem;

  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../../components/türkçe.webp);
    filter: blur(0.4rem);
    -webkit-filter: blur(0.4rem);
  }

  &__heading {
    font-size: map-get($font-sizes, heading);
    font-weight: map-get($font-weights, medium);
    color: map-get($colours, light);
  }

  &__text {
    font: inherit;
    position: relative;
    font-size: map-get($font-sizes, xl);
    line-height: 1.6;
    letter-spacing: unset;
    color: map-get($colours, light);

    &-ending {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: end;
      color: map-get($colours, light);
    }
  }
}

.english-container {
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 8rem;
  gap: 2rem;

  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: blur(0.4rem);
    -webkit-filter: blur(0.4rem);
    background-image: url(../../components/ingilizce.webp);
  }

  &__heading {
    font-size: map-get($font-sizes, heading);
    font-weight: map-get($font-weights, medium);
    color: map-get($colours, light);
  }

  &__text {
    font-size: map-get($font-sizes, xl);
    line-height: 1.6;
    color: map-get($colours, light);
  }
}
