.section-hero {
  background-image: linear-gradient(
    to right bottom,
    map-get($colours, primary-light),
    map-get($colours, primary)
  );
  width: 100%;
  height: calc(100vh - 8rem);
  padding-inline: 20rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 25%;
    height: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: map-get($colours, light);
    width: 40%;

    &-heading {
      font-size: map-get($font-sizes, xxxxl);
      font-weight: map-get($font-weights, bold);
    }

    &-text {
      font-size: map-get($font-sizes, m);
      font-weight: map-get($font-weights, regular);
    }
  }
}

.section-about{
  width: 100%;
  height: calc(100vh - 7rem);
  padding-block: 8rem;
  background-color: map-get($colours, light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(2rem, 2vmax);

  &__heading{
    font-size: map-get($font-sizes, xxxxl);
    font-weight: map-get($font-weights, bold);
    color: map-get($colours, dark);
  }

  &__text{
    font-size: map-get($font-sizes, l);
    font-weight: map-get($font-weights, regular);
    color: map-get($colours, dark);
    padding-inline: 30rem;
  }

  &__link{
    color: map-get($colours, primary);
    text-decoration: none;
    font-size: map-get($font-sizes, l);
    font-weight: map-get($font-weights, regular);
  }
}