.section-hero {
  background-image: url("../../components/section-hero-bg.webp");
  backdrop-filter: blur(10px);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 7rem);
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 25%;
    height: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: map-get($colours, light);
    width: 40%;
    backdrop-filter: blur(0px);
    padding-inline: 3rem;
    padding-block: 5rem;
    background-color: rgba(map-get($colours, grey-light-2), 0.8);
    border-radius: 2rem;
    align-items: center;
    &-heading {
      color: map-get($colours, dark);
      font-size: map-get($font-sizes, heading);
      font-weight: map-get($font-weights, regular);
    }

    &-text {
      color: map-get($colours, dark);
      font-size: map-get($font-sizes, m);
      font-weight: map-get($font-weights, regular);
      font-style: italic;
    }
  }
}


.pop-up.closed {
  display: none;
}
