{% load static %}

<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="description" content="Gelecek Kalemler, Sakıp Sabancı Anadolu Lisesi Tiyatro Kulüpleri tarafından kurulmuş bir yarışmadır.">
    <meta name="keywords" content="Gelecek Kalemler, Gelecek, Kalemler, Tiyatro, İngilizce Tiyato, Türkçe Tiyatro, Yazarlık, Edebiyat, Literatür, Sakıp Sabancı Anadolu Lisesi, SSAL, Beşiktaş Sakıp Sabancı Anadolu Lisesi, BSSAL">
    <meta name="theme-color" content="#075192">

    <link rel="canonical" href="/"> 

    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'components/tiyatro-logo.ico' %}"
    />

    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/style.css' %}" />

    <script src="{% static 'script/main.js' %}" defer></script>

    <title>Gelecek Kalemler &ndash; SSAL</title>
  </head>
  <body>
    <header class="header">
      <img
        class="header__logo"
        src="{% static 'components/tiyatro-logo.webp' %}"
        alt="Gelecek Kalemler"
      />
      <ul class="header__list">
        <li class="header__list-item">
          <a href="{% url 'index' %}#about" class="header__list-link"
            >Hakkımızda</a
          >
        </li>
        <li class="header__list-item">
          <a href="{% url 'application-page' %}" class="header__list-link"
            >Başvuru</a
          >
        </li>
        <li class="header__list-item">
          <a href="#" class="header__list-link">Kulüplerimiz</a>
        </li>
      </ul>
    </header>
    <main>{% block main %} {% endblock main %}</main>
    <footer class="footer">
      <div class="footer__start">
        <a href="#" class="footer__start-link">Aydınlatma Metni</a>
        <a href="#" class="footer__start-link">Gizlilik Politikası</a>
      </div>
      <div class="footer__end">
        <ul class="footer__end-list">
          <li class="footer__end-list__item">
            <a href="" class="footer__end-list__link">
              <svg class="icon icon-mail footer__end-list__link">
                <use
                  xlink:href="{% static 'components/symbol-defs.svg' %}#icon-envelop"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__end-list__item">
            <a href="" class="footer__end-list__link">
              <svg class="icon icon-mail footer__end-list__link">
                <use
                  xlink:href="{% static 'components/symbol-defs.svg' %}#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__end-list__item">
            <a href="" class="footer__end-list__link">
              <svg class="icon icon-mail footer__end-list__link">
                <use
                  class="footer__end-list__link"
                  xlink:href="{% static 'components/symbol-defs.svg' %}#icon-phone"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
