{% extends 'base.html' %} {% block main %}
<section class="section-clubs">
  <div class="turkish-container">
    <h3 class="turkish-container__heading">Türkçe Tiyatro</h3>
    <p class="turkish-container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non possimus
      similique perspiciatis iure, facilis beatae.
    </p>
  </div>
  <div class="english-container">
    <h3 class="english-container__heading">İngilizce Tiyatro</h3>
    <p class="english-container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non possimus
      similique perspiciatis iure, facilis beatae.
    </p>
  </div>
</section>
{% endblock main %}
