{% extends 'base.html' %} {% block main %}
<section class="section-clubs">
  <div class="turkish-container">
    <div class="turkish-container__bg"></div>
    <h3 class="turkish-container__heading">Türkçe Tiyatro</h3>
    <pre class="turkish-container__text">
      Sakıp Sabancı Anadolu Lisesi Tiyatro Kulübü olarak asıl amacımız sene
      sonunda bir oyun çıkarmaktır. Güzel bir oyun çıkarmadaki en önemli
      etkenlerden biri ekip ruhudur. Kulüp olarak bu ruhu oluşturmak amacıyla
      öğretim yılının başında birkaç ayı ekibin kaynaşması için farklı
      etkinlikler yapar ve ekip ruhunu oluştururuz. Bu kapsamda çeşitli drama
      etkinlikleri yapar ve yeni ekibin birbirine kaynaşmasını sağlarız. Artık,
      kulüp üyeleri çalışmalara hazırdır; asıl amacımıza yöneliriz. Başta oyun
      belirlenir, roller dağıtılır ve tam gaz çalışmalara başlarız. Oyunumuzu
      önce arkadaşlarımıza sonra velilerimize sahneler, varsa il genelindeki
      yarışmalara katılır ve bu yarışmalardan ödüllerle döneriz. Bu süreçte her
      konuda desteğini esirgemeyen hocalarımıza ve okul idaremize kulübümüz
      adına teşekkürlerimi sunmak isterim.
      <div class="turkish-container__text-ending">Saygılarımla</div>
    </pre>
  </div>
  <div class="english-container">
    <div class="english-container__bg"></div>
    <h3 class="english-container__heading">İngilizce Tiyatro</h3>
    <p class="english-container__text">
      Bizler Türkiye’nin en başarılı ve nitelikli okullarından biri olan
      Beşiktaş Sakıp Sabanscı Anadolu Lisesi'nin İngilizce Tiyatro kulübüyüz.
      Sanata ve özellikle tiyatroya duyduğumuz ilgimizi dünya dili olan
      İngilizce ile harmanlayarak hem ülkemizdeki sanat anlayışına katkı
      sağlamaya çalışmakta hem de gençleri ve yetişkinleri tiyatro ile
      buluşturmaktayız. Mustafa Kemal Atatürk'ün sanata ve yabancı dile verdiği
      önemi de benimseyerek sanatı elimizden gelen en iyi şekilde sunmaya ve ona
      layık dünya gençleri olma yolunda ilerlemeye çalışıyoruz.
    </p>
  </div>
</section>
{% endblock main %}
