.footer {
  height: 7rem;
  width: 100%;
  background-color: map-get($colours, light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 2rem;

  &__start {
    display: flex;
    align-items: center;
    text-align: center;

    &-link {
      color: map-get($colours, dark);
      text-decoration: none;
      font-size: map-get($font-sizes, base);
      font-weight: map-get($font-weights, regular);
    }
  }

  &__end {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;

    &-list {
      height: inherit;
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: min(2rem, 2vmax);

      &__item::marker {
        display: none;
      }
    }
  }
}
