.footer {
  height: 7rem;
  width: 100%;
  background-color: map-get($colours, light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 2rem;
  box-shadow: 0 0 1rem 0 map-get($colours, grey-light-2);

  &__start {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3rem;

    &-link {
      color: map-get($colours, dark);
      text-decoration: none;
      font-size: map-get($font-sizes, base);
      font-weight: map-get($font-weights, regular);
      transition: all 0.3s ease-in-out;
    }

    &-link:hover{
      color: map-get($colours, primary);
    }
  }

  &__end {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;

    &-list {
      height: inherit;
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: min(2rem, 2vmax);

      &__link {
        color: map-get($colours, dark);
        text-decoration: none;
        font-size: map-get($font-sizes, xxl);
        transition: all 0.3s ease-in-out;
      }

      &__link:hover {
        color: map-get($colours, primary);
      }
    }
  }
}
