.header {
  position: sticky;
  width: 100%;
  height: 7rem;
  padding-inline: 2rem;
  background-color: map-get($colours, light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1rem 0 map-get($colours, grey-light-2);

  &__logo {
    height: 100%;
    width: auto;

    &-img{
      height: 100%;
      width: 100%;
    }

    &-link {
      height: inherit;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    gap: min(6rem, 6vmax);

    &-link {
      color: map-get($colours, dark);
      text-decoration: none;
      font-size: map-get($font-sizes, m);
      font-weight: map-get($font-weights, regular);
      transition: all 0.3s ease-in-out;
    }

    &-link:hover {
      color: map-get($colours, primary);
      // font-size: map-get($font-sizes, l);
    }
  }
}
